* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 html {
  font-size: 62,5%;
  padding: 1rem;
 }

.tarjeta {
  border: 0.2rem solid black;
  padding: 2rem;
  font-size: 1.6rem;
  width: 100%;
  max-width: 60rem;
}

.contenedor {
  container-type: inline-size;
  width: 100%;
  max-width: 90rem;
  padding: 1rem;
  border: 0.1rem solid red;
}

@media(max-width:60rem) {
  .tarjeta {
    background-color: aqua;
  }
}

@container(max-width:40rem) {
  .tarjeta {
    background-color: blueviolet;
  }
}